---

const base = import.meta.env.BASE_URL === "/" ? "" : import.meta.env.BASE_URL;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={ base + "/favicon.svg" } />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rust Browser Interpreter</title>
	</head>
	<body>
		<div id="grid">
			<hgroup>
				<h1><span>Ru</span>st <span>Br</span>owser <span>I</span>nterpreter</h1>
				<p><a href="https://github.com/lyonsyonii/rubri" target="_blank">See on Github</a></p>
			</hgroup>
			<div id="live-edit-wrapper">
				<input id="live-edit" type="checkbox" checked />
				<label for="live-edit">Live Edit</label>

				<input id="print-last" type="checkbox" checked />
				<label for="print-last">Print last expression</label>

				<input id="simple-editor" type="checkbox" />
				<label for="simple-editor">Simple Editor</label>

				<br><br>
				<button id="button-run">
					<b>RUN</b>
					<svg class="bwriTBp9mt3lT3cYfTnK" height="14" viewBox="8 4 10 16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M8 5v14l11-7z"></path></svg>
				</button>
				<b> Or Ctrl+Enter</b>
			</div>
			<textarea id="editor" spellcheck="false" placeholder="Write your code..." readonly />
			<output id="terminal" />
		</div>
	</body>
</html>

<style>
	:root {
		--font-size: 16px;
		--editor-font-size: calc(var(--font-size) + 2px);
	}
	body {
		font-family: monospace;
		font-size: var(--font-size);
		height: 100vh;
		margin: 0;
		padding: 0;
	}
	b {
		font-family: monospace;
		font-weight: 700;
		font-size: var(--font-size);
	}
	span {
		text-decoration: underline;
	}
	#grid {
		height: calc(100% - 1rem);
		margin-left: 1rem;
		margin-right: 1rem;
		display: grid;
		grid-template-rows: min-content min-content 1fr 1fr;
		gap: .5rem;
	}
	#live-edit, #live-edit-wrapper {
		user-select: none;
	}
	#button-run {
		padding-left: 1.25em;
		padding-right: 1.25em;
		padding-top: .5em;
		padding-bottom: .5em;
		display: inline-flex;
		align-items: center;
		gap: 0.5em;
		background: white;
		border-color: #676774;
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		cursor: pointer;

		font-family: monospace;
		font-weight: 700;
		font-size: var(--font-size);
	}
	#button-run[disabled] {
		opacity: 0.5;
	}
	textarea#editor {
		font-size: calc(var(--font-size) + 2px);
		resize: none;
	}
	:global(.cm-editor) {
		overflow: scroll;
	}
	:global(.cm-editor > *) {
		font-size: calc(var(--font-size) + 2px);
		font-family: monospace;
	}
	output#terminal {
		overflow: scroll;
		white-space: pre-wrap;
	}
</style>

<script>
	import "../index.ts";
</script>