---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rust Browser Interpreter</title>
	</head>
	<body>
		<h1>Rust Browser Interpreter</h1>
		<div id="live-edit-wrapper">
			<input id="live-edit" type="checkbox" checked />
			<label for="live-edit">Live Edit</label>
		</div>
		<textarea id="input"></textarea>
		<button>Run</button>
		<textarea id="output" readonly></textarea>
	</body>
</html>

<style>
	body {
		display: grid;
	}
	body {
		font-family: 'Courier New', Courier, monospace;
	}
	button {
		display: block;
		height: 5rem;
	}
	textarea {
		font-size: x-large;
	}
	textarea#input {
		height: 30rem;
		resize: none;
	}
	textarea#output {
		margin-top: 2rem;
		height: 10rem;
		resize: none;
	}
	#live-edit, #live-edit-wrapper {
		user-select: none;
	}
</style>

<script>
	import { InitInterpreter } from "../../../src/index";

	const input = document.body.querySelector<HTMLTextAreaElement>("textarea#input")!;
	const output = document.body.querySelector<HTMLTextAreaElement>("textarea#output")!;
	const button = document.body.querySelector("button")!;
	const liveEdit = document.body.querySelector<HTMLInputElement>("#live-edit")!;
	
	input.value = "Loading...";
	input.placeholder = "Write your code...";
	input.readOnly = true;
	const interpreter = await InitInterpreter().finally(() => {
		input.readOnly = false;
		input.value = "";
	});

	input.addEventListener("input", async () => {
		if (!liveEdit.checked) {
			return;
		}
		console.log(input.value);
		output.value = await interpreter.run(input.value || "");
	});
	button.addEventListener("click", async () => {
		console.log(input.value);
		output.value = await interpreter.run(input.value || "");
	})
</script>